* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*propriedade para suavizar a fonte*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  background: #f5f5f5;
}

.app {
  display: grid;
  /*max-content - conteúdo vai crescendo assim que necessário - header main footer */
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  padding: 1.6rem 3.2rem;
  /*conteúdo para de crescer em 1120px*/
  width: min(112rem, 100%);
  margin: 0 auto;
}
